.navbar{
  height: 50px;
  background-color: #125B50;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  border-radius: 4px;
  border: none;
  transition: bacbackground-color .3s ease-in;
}
.navButton:hover{
  background-color: #F2E7D5;
}